.button {
  background-color: #336B87
}

.li, ul {
  list-style-position: inside;
  list-style-type: square;
  text-align: center;
}


.container-fluid {
  background-color: #f1f1f1;
  margin: auto;
  width: 82%;
  height: 95%;
  border: 2px solid rgb(211, 212, 211);
  border-radius: 10px;
  padding: 10px;
  margin-right: 1%;
  margin-bottom: 2%;
}

h3{
  font-weight:bold;
}

.card-block .card{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 100px;
  left: 5%;
  margin: 1em;
}

.card-block .card .card-body{
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display:inline-block;
  width:270px;
  padding:10px 10px 10px;
}

.card-block .card .card-body i{
  padding-left: 0%;
  margin-right: 20px;
}

.card-data{
  padding-left: 0%;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display:inline-block;
  width:270px;
  padding:10px 10px 10px;
  left: 5%;
  margin: 1em;
}

.card-block .card-data{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 100px;
  left: 5%;
  margin: 1em;
}

#carMain{
  display: inline-block;
}

#carMain .card{
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 430px;
  text-align: center;
  left: 3%;
}

#options .card{
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 300px;
  text-align: center;
  left: 1%;
}

.card button{
  border-color: rgb(31, 84, 110);
  padding: 8px;
  color: white;
  background-color: #336B87;
  cursor: pointer;
  width: 20%;
  font-size: 18px;
  margin-top: 70px;
}


.card button:hover{
  text-emphasis-color: black;
  background-color: #2987BB;
  color: black;
}

#carMain .charts{
  position: relative;
  display: inline-block;
  vertical-align: top;
  left: 3%;
}

#carMain .charts .chart{
  margin-left: 52px;
}

#carMain .charts #serviceHistory table{
  padding: 0 15px;
  background-color: #f1f1f1;
  width: 500px;
  margin-left: 64px;
}

#serviceHistory button{
  color: black;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: 500px;
  background-color: white;
  margin-left: 64px;
  display: inline-block;
}

#serviceHistory i{
  float:right;
}




////////////////////////////FLIP CARDS//////////////////////////////

.flip-card {
  width: 420px;
  height: 470px;
  margin: 2em;
  perspective: 1500px;
  position: relative;
  display: inline-block;  //another element float right
  top: 50%; /* changed from 0 to 50% */
  left: 37%; /* changed from 0 to 50% */
  transform: translate(-50%, -50%);  /* added this line */
  background-color:white;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #f1f1f1;
  color: black;
  border-radius: 10px;
}

#description{
  text-align: center;
  // bottom: 90px;
  position: absolute;
  align-items: baseline;
  margin-left: 25%;
  //  margin-bottom: 1%;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.flip-card-back button{
  border-color: rgb(31, 84, 110);
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #336B87;
  text-align: left;
  cursor: pointer;
  width: 40%;
  font-size: 14px;
  margin-bottom: 25px;
}

.flip-card-back button:hover{
  text-emphasis-color: black;
  background-color: #2987BB;
  color: black;
}

#buttons i{
  margin-left: 8px;
}

.buttonText{
  display: inline-block;
  margin-left: 15px;
}

#delete:hover{
  background-color: #C4001A;
}


////////////////////////Proposal////////////////////////////
.wrapper{
  background-color: #f1f1f1;
  margin: auto;
  width: 40%;
  height: 30%;
  border: 2px solid rgb(211, 212, 211);
  border-radius: 10px;
  padding: 10px;
  margin-right: 25%;
  margin-bottom: 2%;
  text-align: center;
}

#question{
  padding: 2%;
  margin: 2%;
}

#question button{
  border-color: rgb(31, 84, 110);
  padding: 8px;
  color: white;
  background-color: #336B87;
  cursor: pointer;
  width: 20%;
  font-size: 15px;
  margin-top: 70px;
  display: inline-block;
}

#question button:hover{
  text-emphasis-color: black;
  background-color: #2987BB;
  color: black;
}

#question button i{
  margin-left: 5%;
}


#question img:hover{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.desc a{
  color: black;
}
