.mat-dialog-container{
    padding: 40px 88px !important;
    overflow: initial !important;
    padding: 40px 88px !important;
}

.cancel{
    background-color:#336B87;  
    color: white; 
    float: right;
    width: 200px;
}

.wrapper{
z-index: 1;
}
