<div class = "full-page-container" style="padding-left : 200px; padding-top: 50px">
  <div *ngIf="postBookingError" class=" d-flex alert alert-danger justify-content-center" role="alert" style="padding-top: 100px;">
    Something was wrong. Please try again later
  </div>
  <div>
    <mdb-card style="max-width: 400px">
      <mdb-card-img src="assets/img/booking.jpg" alt="Card image cap"></mdb-card-img>
      <mdb-card-body>
        <mdb-card-title>
          <h4>Booking Info:</h4>
        </mdb-card-title>
        <mdb-card-text>
          <h5 class="info-text">Service Name: {{bookingInfo.techServiceName}}</h5> 
          <h5 class="info-text">Start: {{getDate(bookingInfo.startBooking)}}</h5>
          <h5 class="info-text">End: {{getDate(bookingInfo.endBooking)}}</h5>
          <h5 class="info-text">Price: {{price}} ₴</h5>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
<div class="button-time">
<button  mdbBtn type="button" class ="justify-content-start" style="background-color: #336B87" (click)="postBooking()" mdbWavesEffect>Apply</button>
<button  mdbBtn type="button" class ="justify-content-end" style="background-color: #c5001a" (click)="goToHomePage()" mdbWavesEffect>Cancel</button>
</div>
</div>

