.time-container{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(164, 167, 165, 0.733);
}
.full-page-container{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin: 20px;
}
.button-time{
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.select{
    background-color: #90AFC5;
    color: white;
}
.info-text{
    color: #363237;
    margin: 20px;
    align-self: center;
}