<div class="page-container">
    <nav class="navbar navbar-expand-lg" style="background-color:#2D4161;" >
      <a class="navbar-brand" href="/ui/home" style="color:white" > SmartCarService  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <br>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent" style="color:white" >
  <div>
    <li *ngIf="authority === 'dieler'"> <a class="" (click)="goToDealerChat()" >Chat</a> </li>
    <ul *ngIf="authority === 'owner'" class="navbar-nav mr-auto">
      <a class="notification" (click)="goToNotifications()" style="border-bottom: 2px solid white;">
         <span *ngIf="!notificationsOpen"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
         <span *ngIf="notificationsOpen"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>
         <span *ngIf="!notificationsOpen && notifications.length > 0" class="badge">{{notifications.length}}</span>
      </a>
  </ul>
  </div>
      <div class="dropdown">

        <button class="dropbtn">{{user.fullName}} <i class="fa fa-caret-square-o-down" aria-hidden="true"></i> </button>
        <div class="dropdown-content">
          <a class="fa fa-user-circle" routerLink="/ui/userprofile"> Profile</a>
          <a class="fa fa-info-circle" routerLink="/ui/info"> Help</a>
          <div class="dropdown-divider"></div>
          <a class="fa fa-sign-out" (click)= "logout()"> Logout</a>
        </div>
      </div>

    </div>
    </nav>
    </div>


              <!-- Sidebar -->
  <div id="wrapper" class="active">
  <div id="sidebar-wrapper">
  <ul id="sidebar_menu" class="sidebar-nav">
  <li class="sidebar-brand">
    <a id="menu-toggle" (click)="goHome()">SmartCarService</a></li>

  </ul>
  <br>
  <ul id="sidebar" class="sidebar-nav" >
  <li class="sidebar-user">
  <img src="assets/img/icon1.png" width="110px" height="110px" style="margin-left: 7%">
  <a id="name" (click)="goToUserProfile()">{{user.fullName}}</a></li>
  <li *ngIf="authority === 'owner'"> <a class="" (click) = "goToOwnerCars()">My cars <i class="fa fa-car" aria-hidden="true"></i></a></li>
  <li *ngIf="authority === 'owner'"> <a class="" routerLink="/ui/newcar" >Add new car <i class="fa fa-plus-circle" aria-hidden="true"></i></a></li>
  <li *ngIf="authority === 'owner'"> <a class="" routerLink="/ui/location" >Location of cars <i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
  <li *ngIf="authority === 'owner'"> <a class="" routerLink="/ui/techservices">My Service</a></li>

  <li *ngIf="authority === 'techmanager'"><a class="" routerLink="/ui/techservice">My Service</a></li>
  <li *ngIf="authority === 'techmanager'"><a class="" routerLink="/ui/techservice/feedback">Feedback</a></li>
  <li *ngIf="authority === 'techmanager'"><a class="" routerLink="/ui/techservice/dealer">Dealer</a></li>
  <li *ngIf="authority === 'techmanager'"><a class="" routerLink="/ui/techservices">Techservices</a></li>
  <li *ngIf="authority === 'sales'"><a class="" routerLink="/">Sales manager</a></li>
  <li *ngIf="authority === 'admin'"><a class="" routerLink="/ui/allusers">See users <i class="fa fa-users" aria-hidden="true"></i></a></li>

  <li *ngIf="authority === 'dieler'"><a class="" (click)="goToDealerinfo()" >Dealer</a></li>
  <li *ngIf="authority === 'dieler'"><a class="" (click)="addCarToDealer()">Add car as dieler</a></li>
  <li *ngIf="authority === 'dieler'"><a class="" (click)="goToDealerCars()">All my cars as dieler </a></li>
  <li *ngIf="authority === 'dieler'"><a class="" routerLink="/ui/newcar">Add car as user</a></li>
  <li *ngIf="authority === 'dieler'"> <a class="" (click)="goToOwnerCars()">Your cars as user </a></li>
  <li *ngIf="authority === 'dieler'"> <a class="" routerLink="/ui/dealerstoadd">add sto </a></li>
  <li *ngIf="authority === 'dieler'"> <a class="" routerLink="/ui/dealersSto">my stos </a></li>
  <li *ngIf="authority === 'dieler'"> <a class="" routerLink="/ui/dealersTradeIn">Trade In </a></li>
  <li *ngIf="authority === 'dieler'"> <a class="" routerLink="/ui/norms">Upload norms</a></li>
</ul>
  </div>
  </div>
