.no-notifications{
    padding-top: 65px;
    padding-left: 275px;
    padding-right: 131px;
    font-size: 20px;
    font-style: italic;
    color: rgb(45, 66, 98);
}

.container{
    padding-top: 80px;
    padding-left: 300px;
    padding-right: 131px;
    font-size: 13px;
}

.notifications-container{
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 6px;
}

.notifications-container::-webkit-scrollbar {
    width: 6px;
}

.notifications-container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 45px rgb(45, 66, 98);
}

.notifications-container::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px rgba(45, 66, 98, 0.3);
}

.notification-header{
    padding: 15px 0 35px 0;
    padding-right: 0%;
    display: flex;
    justify-content: flex-end;
    height: 15px;
}

.app-btn{
    height: 28px;
}

.notification{
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
    justify-content: center;
    padding: 0%;
}

.message{
    padding: 20px;
    background-color:#E4E3DB;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 8px 22px ;
}
.header{
    background-color:#2988BC;
    width: 100%;
    display: flex;
    align-items: center;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    height:35px;
}
.icon{
    padding: 0px 1rem 0px 1rem;
    height:30px;
}
.icon img{
    height: 30px;
}
.label{
    font-size: 15px;
    font-family: inherit;
    font-weight: bold;
    flex: 1;
}
.date{
    color: #d0cecc;
    padding: 0 20px 0 20px;
    font-style: italic;
}
.cursor-pointer{
    cursor: pointer;
}

.suggestion{
    background-color: #2D4262;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}

.review-button{
    background-color:#2D4262;
    color: white;
    float: right;
    margin-left: 15px !important;
    padding-top: unset;
    padding-bottom: unset;
    height: 24px;
    font-size: 8px;
}

/* for checkbox */

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 2px !important;
  color: #2D4262;
  cursor: pointer;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #2D4262;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}



// .notification-header {
//     padding: 12px;
//     display: flex;
//     justify-content: flex-end;
//     background: linear-gradient(40deg, #06849D, #034653)
// }
// .delete-button {
//     background-color: #F42334;
//     border-radius: 15px;
// }
// .custom-checkbox {
//     justify-content: center;
//     display: flex;
// }
// .message-column {
//     width: 45%;
// }
// thead th {
//     font-weight: bold;
//     font-size: 18px;
// }
// tbody td {
//     font-size: 15px;
//     vertical-align: middle;
// }
