<div class="md-stepper-horizontal">
  <div class={{classActivateToDo()}}>
    <div class="md-step-circle"><span>1</span></div>
    <div class="md-step-title">TO DO</div>
    <div class="md-step-optional">Message about car and procedure</div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class={{classActivateInProgress()}}>
    <div class="md-step-circle"><span>2</span></div>
    <div class="md-step-title">In Progress</div>
    <div class="md-step-optional">Message about car and procedure</div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class={{classActivateDone()}}>
    <div class="md-step-circle"><span>3</span></div>
    <div class="md-step-title">Done</div>
    <div class="md-step-optional">Message about car and procedure</div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
  <div class={{classActivateFeedback()}}>
    <div class="md-step-circle"><span>4</span></div>
    <div class="md-step-title">Feedback</div>
    <div class="md-step-optional">Message about car and procedure</div>
    <div class="md-step-bar-left"></div>
    <div class="md-step-bar-right"></div>
  </div>
</div>
