<br><br><br><br>
  <div class="container">
  <form form="carProfile" >
  <p class="h3 mb-4">Dealer profile</p>

  <label><b>Dealer name</b></label>
  <input type="text" class="form-control"  [(ngModel)]="mydealer.dealerName" name="name" >

  <label><b>Dealer Address</b></label>
  <input type="text" class="form-control" [(ngModel)]="mydealer.dealerAddress" name="address" >

  <label><b>Dealer Edr</b></label>
  <input type="text" class="form-control" [(ngModel)]="mydealer.dealerEdr" name="edr" >

  <label><b>Dealer Email</b></label>
  <input type="text" class="form-control" [(ngModel)]="mydealer.dealerEmail" name="email" >
  <div ng-app="myApp" ng-controller="myCtrl">
  </div>
  <br>
  <div>
      <button  id="create"    type="submit" (click)="createDealer()" class="btn my-2 my-sm-0">create</button>
      <button   id="update"   type="button"  (click)="editDealer()" class="btn my-2 my-sm-0">update</button>
      <a id="cancel" href="/home" type="button" class="btn my-2 my-sm-0">Cancel</a>
  </div>
  </form>
  </div>
