.button {
    background-color: #336B87
}

  .li, ul {
    list-style-position: inside;
    list-style-type: square;
    text-align: center;
}
   

  .container-fluid {
	background-color: #f1f1f1;
    margin: auto;
    width: 82%;
    height: 100%;
    border: 2px solid rgb(211, 212, 211);
    border-radius: 10px;
    padding: 10px;
    margin-right: 1%;
    margin-bottom: 2%;
  }

  h3{
    font-weight:bold;
  }

  .card-block .card{
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 270px;
	height: 100px;
	left: 5%;
	margin: 1em;
  }

  .card-block .card .card-body{
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	display:inline-block;
	width:270px;
	padding:10px 10px 10px;
  }

  .card-block .card .card-body i{
	  padding-left: 0%;
	margin-right: 20px;
  }

#carMain{
	display: inline-block;
}

#carMain .card{
	position: relative;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 350px;
	height: 430px;
	text-align: center;
	left: 1%;
}

#options .card{
	position: relative;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	width: 350px;
	height: 300px;
	text-align: center;
	left: 1%;
}

.card button{
    border-color: rgb(31, 84, 110);
    padding: 8px;
    color: white;
    background-color: #336B87;

    cursor: pointer;
    width: 20%;
    font-size: 18px;
	
	margin-top: 70px; 
}


.card button:hover{
    text-emphasis-color: black;
	background-color: #2987BB;
	color: black;
}

#carMain .charts{
	position: relative;
	display: inline-block;
	vertical-align: top;
	}

	#carMain .charts .chart{
		margin-left: 52px;
	}

#carMain .charts #serviceHistory table{
	padding: 0 15px;
	background-color: #f1f1f1;
	width: 500px;
	margin-left: 64px;
}


#serviceHistory button{
	color: black;
	cursor: pointer;
	padding: 15px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	width: 500px;
	background-color: white;
	margin-left: 64px;
	display: inline-block;
	}

	#serviceHistory i{
		float:right;
	}

	.desc a{
		color: black;
	  }