<!--<br><br><br><br>-->
<!--<div class="container-fluid" *ngFor="let sto of stos">-->
  <!--{{stos | json}}-->
<!--eeegegegegeg-->
  <!--<ul>-->

  <!--<div class="points" >-->
  <!--<li>Sto name : {{sto.name}} </li>-->
  <!--<li>Sto address : {{sto.address}}-->
  <!--</div>-->
  <!--<br>-->
  <!--<button class="btn btn-outline my-2 my-sm-0"   style="background-color: #336B87"> View workers <i class="fa fa-line-chart" aria-hidden="true"></i></button>-->
  <!--<button class="btn btn-outline my-2 my-sm-0"   style="background-color: #336B87"> View workers <i class="fa fa-line-chart" aria-hidden="true"></i></button>-->

  <!--<button class="btn btn-outline my-2 my-sm-0" (click)="editsto(sto.stoId)" style="background-color: #336B87">Update <i class="fa fa-history" aria-hidden="true"></i> </button>-->
  <!--<button class="btn btn-outline my-2 my-sm-0"  style="background-color: #c5001a">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button>-->


<!--</ul>-->
  <!--</div>-->
  <!--<br><br>-->
<div >
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="flip-card" *ngFor="let sto of stos">

    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div id="description">
          <li>Sto name : {{sto.name}} </li>
          <li >Sto address : {{sto.address}}  </li>
          <button class="btn btn-outline my-2 my-sm-0" (click)="editsto(sto.stoId)"
                  title="Update"><i class="fa fa-wrench"   aria-hidden="true">Update</i>
          </button>

          <button class="btn btn-outline my-2 my-sm-0"
                  title="delete"><i class="fa fa-wrench" (click)="deletefromdealer(sto.stoId)"  aria-hidden="true">delete</i>
          </button>

        </div>

      </div>

    </div>
  </div>
</div>
