<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" style="width: 100%; height: 20% !important;"  src="../../assets/img/carousel1.jpg" alt="First slide">
      <div class="carousel-content">
        <h1>SmartCarService</h1>
          <p>Only the best , only for you</p>
          <a href="/ui/auth/login" mdbBtn style="color: white" type="button">signin</a>
          <a href="/ui/signup" mdbBtn style="color: white" type="button">signup</a>


        </div>
      <div class="mask rgba-black-slight waves-light"></div>
    </div>
    <div class="carousel-caption">
    
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/img/carousel2.jpg" alt="Second slide">
      <div class="carousel-content">
          <h1>Only best details</h1>
            <p></p>
  
          </div>
      <div class="mask rgba-black-slight waves-light"></div>
    </div>
    <div class="carousel-caption">
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/img/carousel3.jpg" alt="Third slide">
      <div class="carousel-content-3">
          <h1>Only the best quality</h1>
            <p></p>
  
          </div>
      <div class="mask rgba-black-slight waves-light"></div>
    </div>
    <div class="carousel-caption">
    </div>
  </mdb-carousel-item>
</mdb-carousel>


<br>
<h1 style="text-align: center">All of our users receive :</h1> 
<br>
<!-- Card -->
<div class="row" style="margin: auto;">
  <div class="col">
<mdb-card>
  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img  src="assets/icons/iconforcard1.png" alt="Card image cap"></mdb-card-img>
  </div>
  <!--Card content-->
  <mdb-card-body class="mycard">
    <!--Title-->
    <mdb-card-title>
      <h4>Service Q<sup>2</sup> </h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text> You receive quickly and quality to the power 2
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>
<!-- Card -->
</div>
<div class="col">
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="assets/icons/iconforcard2.png" alt="Card image cap"></mdb-card-img>
      </div>
      <!--Card content-->
      <mdb-card-body class="mycard">
        <!--Title-->
        <mdb-card-title>
          <h4>Safety</h4>
        </mdb-card-title>
    
        <!--Text-->
        <mdb-card-text> In our hands your car like at home.
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
    <!-- Card -->
    </div>
    <div class="col">
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="assets/icons/iconforcard3.png" alt="Card image cap"></mdb-card-img>
          </div>
          <!--Card content-->
          <mdb-card-body class="mycard">
            <!--Title-->
            <mdb-card-title>
              <h4>Statistics</h4>
            </mdb-card-title>
        
            <!--Text-->
            <mdb-card-text> Our application collects data about your car and transform it in graph 
                for your convenience.
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
        <!-- Card -->
        </div>
        <div class="col">
<mdb-card>
  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img src="assets/icons/iconforcard4.png" alt="Card image cap"></mdb-card-img>
  </div>
  <!--Card content-->
  <mdb-card-body class="mycard">
    <!--Title-->
    <mdb-card-title>
      <h4>Reputation</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text> Our application recommended by a lot of people. 
        And you will next!
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>
<!-- Card -->
</div>
</div>
<br>
<div class="row" style="margin: auto">
    <div class="col">
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="assets/icons/iconforcard5.png" alt="Card image cap"></mdb-card-img>
          </div>
          <!--Card content-->
          <mdb-card-body class="mycard">
            <!--Title-->
            <mdb-card-title>
              <h4>Сooperation</h4>
            </mdb-card-title>
        
            <!--Text-->
            <mdb-card-text> We cooperate with a lot of sevices station in our country ,
                where you can check or repair your car.
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
        <!-- Card -->
        </div>
        <div class="col">
            <mdb-card>
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="assets/icons/iconforcard6.png" alt="Card image cap"></mdb-card-img>
              </div>
              <!--Card content-->
              <mdb-card-body class="mycard">
                <!--Title-->
                <mdb-card-title>
                  <h4>Location</h4>
                </mdb-card-title>
            
                <!--Text-->
                <mdb-card-text>You can choose closer service station with our application.

                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
            <!-- Card -->
            </div>
            <div class="col">
                <mdb-card>
                  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="assets/icons/iconforcard7.png" alt="Card image cap"></mdb-card-img>
                  </div>
                  <!--Card content-->
                  <mdb-card-body class="mycard">
                    <!--Title-->
                    <mdb-card-title>
                      <h4>Notifications</h4>
                    </mdb-card-title>
                
                    <!--Text-->
                    <mdb-card-text> New event with your car - you will always know it.
                    </mdb-card-text>
                  </mdb-card-body>
                </mdb-card>
                <!-- Card -->
                </div>
                <div class="col">
                    <mdb-card>
                      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="assets/icons/iconforcard8.png" alt="Card image cap"></mdb-card-img>
                      </div>
                      <!--Card content-->
                      <mdb-card-body class="mycard">
                        <!--Title-->
                        <mdb-card-title>
                          <h4>Time</h4>
                        </mdb-card-title>
                    
                        <!--Text-->
                        <mdb-card-text> Don't waste your time. We can save it.
                        </mdb-card-text>
                      </mdb-card-body>
                    </mdb-card>
                    <!-- Card -->
                    </div>
  </div>
<br>
<!-- Subscribe Form -->
<div class="cta-sub no-color">
    <div class="container">
      <div class="cta-inner">
        <h1 class="wow fadeInUp" data-wow-delay="0s">Join US</h1>
        <div class="form wow fadeInUp" data-wow-delay="0.3s">
          <form class="subscribe-form center-form wow zoomIn" action="php/subscribe.php" method="post" name="subscribeform" id="subscribeform">
            <a href="/ui/auth/login" mdbBtn style="background-color: #336B87; color: white" type="button">signin</a>
            <a href="/ui/signup" mdbBtn style="background-color: #336B87; color: white" type="button">signup</a>
          </form>
            <!-- subscribe message -->
      <div id="mesaj"></div>
      <!-- subscribe message --> 
        </div>
      </div>
    </div>
  </div>

